{% extends 'base/base.html' %}
{% load static %}
{% block link %}
<link href="{% static 'base/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'base/css/sb-admin-2.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <form method='POST' class="form-list">
        {% csrf_token %}
        <div class="col-xl-12 col-md-12 mb-12 align-items-center" style="margin-top: 10px;">
                <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                Eliminar categoria
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="class=text-xs font-weight-bold text-center text-uppercase mb-1">
                                ¿Desea eliminar "{{ obj.descripcion }}" ?
                            </div>
                        </div>
                        <div class="col-row text-center">
                            <button type="submit" class="btn btn-danger"><span class="bi bi-trash"></span> Eliminar</button>
                            <!--a href="{% url 'inv:categoria_list' %}" class="btn btn-warning" style="color: white;"><span class="fa fa-undo"></span> Cancelar</a -->
                            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-warning" style="color: white;"><span class="bi bi-ban"></span> Cancelar</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block js_page %}
<script src="{% static 'base/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'base/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'base/js/sb-admin-2.min.js' %}"></script>
{% endblock %}