{% extends 'base/base.html' %}
{% load static %}
{% block link %}
<link href="{% static 'base/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'base/css/sb-admin-2.min.css' %}" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
{% endblock %}
{% block content %}
    <form method='POST' class="form-list">
        {% csrf_token %}
        <div class="col-xl-12 col-md-12 mb-12 align-items-center" style="margin-top: 10px;">
            {% if obj %}
                <div class="card border-left-warning shadow h-100 py-2">
            {% else %}
                <div class="card border-left-success shadow h-100 py-2">
            {% endif %}
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            {% if obj %}
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Editar categoria
                            </div>
                            {% else %}
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Nueva categoria
                            </div>
                            {% endif %}
                            
                            <div class="dropdown-divider"></div>
                            <div class="row">
                                <div class="col-10">
                                    <div class="form-group">
                                        <label for="descripcion"></label>
                                        <input class="form-control" maxlength="100" type="text" name="descripcion" id="id_descripcion" placeholder="Descripcion" value="{% if obj %}{{ obj.descripcion }}{% endif %}">
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <div class="form-group">
                                        <label for="estado">Estado</label>
                                        <input type="checkbox" name="estado" id="id_estado" {% if obj.estado %}checked{% endif %}>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-row text-center">
                            <button type="submit" class="btn btn-success"><span class="fa fa-save"></span> Guardar</button>
                            <a href="{% url 'inv:categoria_list' %}" class="btn btn-danger"><span class="bi bi-ban"></span> Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block js_page %}
<script src="{% static 'base/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'base/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'base/js/sb-admin-2.min.js' %}"></script>
{% endblock %}